body {
    /*font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", 
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
    color: rgb(240, 235, 235);
    font-size: 12px;*/
}

.letraNav{
    
    color:#B5B5B5;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    vertical-align: middle;
    box-shadow: #B5B5B5;
    line-height: 1.2px;
}

.form-control{
    background-color:  #EFEFEF;
    width: 250px;
    padding: 0 10px;
    margin-right: 0px;
    border-color: transparent;
}

.rounded-circle{
    border-color: transparent
}

hr{
    margin: 0px;
    width: 100%;
}

.btn-light{
    display: block;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    outline: none;
    
}



.columna{
    columns:5;
}

@media screen and (max-width: 1120px) {
    .columna {
        columns:4;
    }
}

@media screen and (max-width: 930px) {
    .columna {
        columns:3;
    }
}

@media screen and (max-width: 610px) {
    .columna {
       columns:2;
    }
}

@media screen and (max-width: 350px) {
    .columna {
        columns:1;
    }
}

.card{

    border-radius: 8px;
    border: 0;
    top: 0px;
    left: 0px; 
    min-width: 260px;
    margin: auto;
    
}

.card-body{
    padding: inherit;
    box-sizing: border-box;
    /*align-content: center;*/
      
}

.card-text{
    color:#303030; 
    padding: 8px;
    padding-left:10px; 
    position: relative;
}

.form-control{
    background-color:  #EFEFEF;
    width: 250px;
    padding: 0 10px;
    margin-right: 0px;
    border-color: transparent;
}


.card-img-top {

    border-radius: 8px !important;

}

.btn-Explorador{
    padding: 12px 16px; 
    border-radius: 999px !important; 
    font-size: 14px;
    color:  rgb(138, 129, 129);

}

.btn-agregar{

    position: absolute;
}




