#header-pint{
    background-color: white;
    padding: 0px 0px;
    border-bottom-color: black;
    border-bottom-width: 10px;
    height: 67px;
    box-sizing: border-box;
    min-width: 400px;
}

.form-control{
    background-color:  #EFEFEF;
    width: 250px;
    padding: 0 10px;
    margin-right: 0px;
    border-color: transparent;
}

#txt-buscar{
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    background-color:  transparent;
    width: 250px;
    padding: 0px 80px;
    margin-right: 0px;
    border-color: transparent;
}

#txt-buscar input{
    width: 50px;
    background-color:  #EFEFEF;
    border-width: 0;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 6px;
}
 
input:focus{
    border-color: #EFEFEF;
    border-radius: 6px;
}

.cir-tras-hov{
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(138, 129, 129);
    cursor: pointer;
}

.cir-tras-hov:hover{
    background-color: #EFEFEF;
}

.rounded-circle{
    border-color: transparent
}

.aa{
    vertical-align: middle;
    width: auto;
}

.fas{
    color: rgb(145, 145, 145)
}

.faz{
    font-size: 21px !important;
}

#input-navbar{
    margin-left: 15px;
    box-sizing: border-box;
    padding: 0px 15px;
    padding-right: 0px;
    background-color: #EFEFEF;
    min-width: 200px;
    width: auto;
    flex: 1 1 auto;
    margin-bottom: 0 !important;
    border-radius: 6PX;
}

hr{
    margin: 0px;
    width: 100%;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: bold;
}
input::-moz-placeholder {
    font-size: 18px;
    font-weight: bold;
}

#botones-navbar{
    height: 70px;
    box-sizing: border-box;
    min-width: 500px;
    max-width: 350px;
    padding-left: 10px;
    padding-right: 0;
    font-size: 15px;
}

.navbar{
    box-sizing: border-box;
    height: 70px;
    padding-bottom: 0px;
    padding-top: 0px;
    flex: 1 1 auto;
}

.ocultar{
    
}

.mostrar{
    display: none;
}


@media screen and (max-width: 911px){
    .ocultar{
        display: none;
    }
    .mostrar{
        display: block;
    }
    .a12{
        max-width: 50px;
    }

    #botones-navbar{
        padding-right: 0;
        width: 100%;
        margin: 0;
        max-width: 100%;
    }

    #header-pint{
        padding: 0 0;
    }

    .dropdown-menu{
        left: auto !important;
        right: 0% !important;
    }
}


.a12{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.a13{
    
}

.dropdown-menu{
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    box-sizing: border-box;
    left: 40%;
    border-radius: 0px 0px 0px 0px;
    position: fixed;
}

#dropdownMenuOpciones{
    box-sizing: border-box;
    background-color: transparent;
    border-color: white;
}

#dropdownMenuOpciones:focus{
    background-color: rgb(138, 129, 129);
}

.bdbxsi{
    box-sizing: border-box;
}

.tcdd{
    display: block;
    position: absolute;
    color: #fff !important;
    fill: currentColor;
    stroke: rgb(239, 239, 239);
    top: -24px;
    right: 2%;
}
#btn-actualizar-ahora{
    margin: 0px 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 18px;
    width: 90%;
    border-radius: 4px;
    border-width: 0.8px;
    border-color: rgb(209,209,209);
    margin-top: 0px;
    background-color: rgb(189, 8, 28);
    color: #fff;
    position: relative;
    box-sizing: border-box;
}