body {
    /*font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", 
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
    color: rgb(240, 235, 235);
    font-size: 12px;*/
}

.letraNav{
    
    color:#B5B5B5;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    vertical-align: middle;
    box-shadow: #B5B5B5;
    line-height: 1.2px;
}

.btn-danger{

    cursor: pointer;
    position: fixed;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 18px;
    width: 100%;
    border-radius: 4px;
    border-width: 0.8px;
    border-color: rgb(209,209,209);
    margin-top: 0px;
    background-color: rgb(189, 8, 28) !important;
    color: #fff;
    position: relative;
    
}

hr{
    margin: 0px;
    width: 100%;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: bold;
}
input::-moz-placeholder {
    font-size: 18px;
    font-weight: bold;
}

.navbar{
    box-sizing: border-box;
    height: 70px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #FFFFFF !important;
    
}

.fa-pinterest{
    color: #bd081c;
    background-color: transparent;
}

.btn-light{
    display: block;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    outline: none;
}

.columna{
    max-width: 20%;
}

@media screen and (max-width: 1077px) {
    .columna {
        max-width: 25%;
    }
}

@media screen and (max-width: 1040px) {
    .columna {
        max-width: 33%;
    }
}

@media screen and (max-width: 900px) {
    .columna {
        max-width: 50%;
    }
}

@media screen and (max-width: 350px) {
    .columna {
        max-width: 100%;
    }
}

.card{
    border-radius: 8px;
    border: 0;
    top: 0px;
    left: 0px; 
    width: 260px;
    margin: auto;
}

.card-body{
    padding: inherit;
    /*align-content: center;*/
      
}

.card-text{
    color:#303030; 
    padding: 8px;
    padding-left:10px; 
    position: relative;
}

.form-control{
    background-color:  #EFEFEF;
    width: 250px;
    padding: 0 10px;
    margin-right: 0px;
    border-color: transparent;
}


img{
    border-radius: 8px;
    box-sizing: border-box;
}

.main{
    display: block;
}

#btn-Explorador{
    padding: 12px 16px; 
    border-radius: 999px; 
    font-size: 14px;
}




